* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    line-height: 35px;
    color: #2d2d2d;
}


h1, h2, h3, h4 {

    font-family: 'Dancing Script', cursive;

}

p, button, a, ul, li, footer h3{
    font-family: 'Lexend Deca', sans-serif;
}
/*


    font-family: 'Raleway', sans-serif;

    font-family: 'Dancing Script', cursive;


*/

.container {
    width: 70%;
    margin: 0 auto;
    background-color: white;
}

.content-container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

body {

    background-color: #efefef;
}
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}

main {
    padding-bottom: 40px;
}

nav {
    width: 100%;
}
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;

    width: 80%;
}
nav ul li  {
    padding: 5px 0;

    font-family: 'Lexend Deca', sans-serif;
}

#logo {
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-family: 'Dancing Script', cursive;
}

#logo h1 {
    color: #ff4747;
    font-size: 2.5em;
}

#logo p {
    font-size: 1.2em;
    line-height: 22px;
    margin-left: 24px;

    color: #582707;

    font-family: 'Dancing Script', cursive;
}

#landing {
    height: 70vh;
    background-image: url("../imgs/bake-baking-cake-913136.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 50% 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landing-text {
    width: 70%;
    background-color: white;
    padding: 50px;
}

#landing-text h2{
    font-size: 2.5em;
    width: max-content;
    margin: 0 auto;
    color: #ff4747;
}
#landing-text p {
    font-family: 'Lexend Deca', sans-serif;
    text-align: center;
}

#icons {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#icons img {
    margin: 20px 0;
}

.title {
    font-size: 3em;
    text-align: center;
    padding: 40px 0;
    color: #ff4747;
}

#about {
    width: 100%;
    margin: 70px 0 30px 0;
    text-align: center;

}

#about-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#about-contact {
    text-align: right;
}

#about h3 {
    font-size: 2.5em;
    margin-bottom: 20px;

    color: #ff4747;
}

#about-text p {
    font-size: 1.2em;
    text-align: center;

}

#cakes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#cakes > .cake:nth-child(2) {
    background-image: url("celecratory.jpg");
}
#cakes > .cake:nth-child(3) {
    background-image: url("20180918201222.jpg");
}
#cakes > .cake:nth-child(4) {
    background-image: url("flaps.jpg");
}

.cake {
    width: 20%;
    height: 250px;
    background-image: url("cupcakes.jpg");
    background-size: auto 100%;
    background-position: 40% center;
    position: relative;
}

.cake h4 {
    position: absolute;
    bottom: -50px;
    left: 0;
    right: 0;
    text-align: center;
    background-color: white;

    color: #582707;
    font-size: 2em;
    padding: 10px 0;
}

#deal, #diet {
    min-height: 40vh;
    background: url("cupc.png"), white;
    background-size: 30vh auto;
    background-repeat: no-repeat;
    background-position: 90% center;
    border: #ff4747 15px double;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}



#deal h4  {
    width: 80%;
    color: #ff4747;
    font-size: 2.8em;
    line-height: 1.1em;
}


#deal p{
    color: #582707;;

    font-family: 'Dancing Script', cursive;
    font-size: 1.2em;
    margin-bottom: 10px;
}

#deal a {
    color: #ff4747;
    font-size: 2em;

    font-weight: bold;
}
#deal > .content-container {
    display: flex;
    height: 30%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#order-now {
    position: relative;
}

#order-now img {
    width: 20px;
    height: auto;
    position: absolute;
    bottom: -6px;
    right: -12px;
}

footer {
    min-height: 20vh;
    background-color: #ff4747;
}

footer > div.container {
    padding: 40px 0;
    background-color: #ff4747;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer ul {
}

footer h3, footer p {
    color: white;
}